body {
  background: url("https://github.com/spica0309/desicon2/blob/main/NasareSP.png?raw=true");
  background-position: 50% 12%;
  background-size:  500px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color:rgb(255, 255);
}

p{
  font-family: "游ゴシック";
  text-align:center;
}
div{
  font-family: "游ゴシック";
  text-align:center;
}
.play{
  font-family: 'Play', sans-serif;
  text-align:center;
  font-size: 2.0em;
}

.inline{
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.mb2{
  margin-top: 2em;
  margin-bottom: 2em;
  text-align:center;
}
.size{
  font-size: 50px;
}
.size2{
  font-size: 20px;
}

a{
  padding:5px 15px;
  border:1px solid #aaa;
  border-radius:5px;
  text-decoration: none;
  background-color:white;
}
a:hover{
  position:relative;
  top:2px;
  left:2px;
  background-color:white;
}

ul{
  list-style-type: none;
  padding-left: 0;
}
li{
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}

.box{
  width: 200px;
  margin:10px;
  border:none;
}

.item {
  display: inline-block;
  margin-bottom: 30px;
}

.main {
  padding-top: 170px;
  overflow: auto;
}

.yokonarabe{
  text-align:center;
}

.yokonarabe>div{
  display:inline-block;
  background-color:#333;
  color:white;
  }

.top2{
  background-color:#333;
  color: white;
  text-align:center;
  margin-top:20px;
}

.body2{
  background-color:white;
  padding:0px 50px;
}

.credit{
  background-color:#333;
  color: white;
  text-align:center
}

.sosyoku{
  background-color:rgb(99, 219, 75);
  padding:6px;
}